div#primary{
        width: 100%;
        display: inline-block;
        }

.secondary{
           width: 50%;
           border-width: medium;
           border-color: black;
           }

.left-element{
              float: left;
              text-align: left;
              border-width: medium;
              border-color: black;
              }

.right-element{
              float: right;
              text-align: left;
              border-width: medium;
              border-color: black;
              }

.form-title{
            text-transform: capitalize;
            text-decoration: underline;
            }
