{% extends "template.html" %}
{% block content %}
<script type = "text/javascript" src="static/js/validate_entry.js" charset="utf-8"></script>
<link rel="stylesheet" href="../static/css/contact.css" href = "{{ url_for('static',filename='/static/css/template.css') }}">

<div class = "lead-text">
  <h2>About:</h2>
  <p>
  So far, this web page has only acheived basic functionality because it's been developed for
  one main purpose so far: interactive elements.<br>
  This page offers two ways in which to interact with this website:
    <li>Contacting me, via the form on the left</li>
    <li>Completing a programming survery, via the form on the right</li><br>
  Please do feel free to fill in and submit either.
  </p>
</div>
<hr>

<div id="primary">
  <div class = "secondary left-element">
    <h3 class = "form-title">Contact</h3>
    <form action="{{url_for('thank_you_contact')}}" method="post">
      <p>Name:</p>
      <p><input name="name" value="Joe Bloggs"></p>
      <p>Email:</p>
      <p><input name="email" value="", id="emailSubmission"></p>
      <p>Comments: </p>
      <p><textarea rows="3" cols="20" name="contact-message"></textarea></p
      <p><input type="submit" onclick="return validateEntry()"></p>
    </form>
  </div>
  <div class = "secondary right-element">
    <h3 class = "form-title">Programming survey</h3>
    <form action="{{url_for('survey_results')}}" method="post">
      <p>What is your language of choice:</p>
      <p><input type="radio" name="top-language" value="Python (of course)" checked>Python, of course</p>
      <p><input type="radio" name="top-language" value="Java">Java</p>
      <p><input type="radio" name="top-language" value="C">C</p>
      <p><input type="radio" name="top-language" value="Javascript">Javascript</p>
      <p><input type="radio" name="top-language" value="Ruby">Ruby</p>
      <p><input type="submit" onclick="thanksMessage()"></p>
    </form>
  </div>
</div>

{% endblock %}
